@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: 'Poppins', sans-serif;
  }
  body {
    @apply bg-background text-black;
  }
  body::-webkit-scrollbar {
    width: 18px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-senary;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[6px] border-2 border-senary border-solid;
  }
  .min-description-height {
    @apply min-h-[200px];
  }
}

.h1 {
  @apply text-5xl xl:text-[72px] xl:leading-[80px]
  tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.subtitle {
  @apply text-lg mb-8 font-light text-justify text-[#00054E];
}

.section-title {
  @apply text-3xl sm:text-[2.7rem] font-bold relative w-max flex items-center 
  justify-between gap-x-3 uppercase text-[#00AFEF];
}

.badge {
  @apply z-0 w-[300px] h-[68px] bg-quaternary backdrop-blur-[44px] shadow-2xl
  p-4 rounded-[6px] flex items-center;
}

.badge:nth-child(0n + 2) {
  left: 10px;
  width: 320px;
}

.badge:nth-child(0n + 1) {
  left: 10px;
  gap: 8px;
}

.badge:nth-child(0n + 3) {
  left: 405px;
  width: 270px;
}

.swiper {
  @apply pt-9 !important;
}

.swiper-horizontal
  > .section-pagination-bullets
  .swiper-horizontal
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-primary;
}

.swiper.swiper-initialized.swiper-horizontal {
  @apply flex flex-col gap-3;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply static;
}

@media (max-width: 1024px) {
  .subtitle {
    @apply text-sm;
  }
}
